{% extends "base.html" %}

{% block heading %}
    <h3><h3><span class="fa fa-th"></span> 기본정보</h3>
{% endblock %}

{% block content %}
<!--div class="container"-->
<div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="btn-group">
                    <a href="{% url 'risk:company_list'%}">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-stack-overflow"></span> 회사 정보</button>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{% url 'risk:company_create' %}">
                    <button type="button" class="btn btn-success">
                    <span class="fa fa-plus"></span> 추가</button>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{% url 'risk:company_update' pk=object.pk %}">
                    <button type="button" class="btn btn-warning">
                    <span class="fa fa-pencil"></span> 수정</button>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{% url 'risk:company_delete' pk=object.pk %}">
                    <button type="button" class="btn btn-danger">
                    <span class="fa fa-minus"></span> 삭제</button>
                    </a>
                </div>
            </div>
        </div>
</div>
<div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                <b>{{ object.corp_name }}</b>
                            </h3>
                        </div>
                        <table class="table table-condensed">
                            <!--tr>
                                <td width=15%><b> 회사명</b></td>
                                <td>{{ object.corp_name }}</td>
                            </tr-->
                            <tr>
                                <td width=15%><b>사업자 등록 번호</b></td>
                                <td>{{ object.biz_reg_no }}</td>
                            </tr>
                            <tr>
                                <td width=15%><b>본점 주소</b></td>
                                <td>{{ object.address }}</td>
                            </tr>
                            <tr>
                                <td width=15%><b>설립 연도</b></td>
                                <td>{{ object.established }}</td>
                            </tr>
                            <tr>
                                <td width=15%><b>업종</b></td>
                                <td>{{ object.biz_type }}</td>
                            </tr>
                            <tr>
                                <td width=15%><b>대표자</b></td>
                                <td>{{ object.representative }}</td>
                            </tr>
                            <tr>
                                <td width=15%><b>전년도 매출액</b></td>
                                <td>{{ object.sales }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
</div> <!-- end row -->

{##% if object.submitter == user %##}
{##% endif %##}

<!--p>작성자:{{ department_list }}</p-->
{% endblock content %}
